#newestBuyContainer{
    margin: 30px 20px 80px;
}

h1 {
    color: black;
}

.listingsContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 30px 50px;
    margin: 10px;
}

.listingCard {
    width: 200px;
    height: 290px;
}

.listingImg {
    width: 200px;
    max-height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 5px;
}